*, *:before, *:after {
    box-sizing: border-box;
}

#titre {
    align-items: center;
    text-align:center;
    border: 1px solid black;
}

#canvasBackground {
    min-width : 380px;
    min-height : 380px;
    padding : 10px;
}

#canvasAnimation {
    position : absolute;
    min-width : 380px;
    min-height : 380px;
    padding : 10px;
}
canvas {
    display : block;
}
section {
    display : flex;
}
nav {
    min-width : 50px;
    min-height : 50px;
    background-color : rgba(164,164,242,0.5);;
}
button {
    width : 130px;
    height : 30px;
    background-color : rgba(60,60,200,1);
}
.upgradeDiv {
    max-width : 200px;
    min-width : 100px;
    max-height : 250px;
    min-height : 70px;
    background-color : rgba(50,50,180,1);
}

